.container {
  background: linear-gradient(
      to right,
      white 0%,
      white 50%,
      rgba(245, 245, 247, 1) 50%,
      rgba(245, 245, 247, 1) 100%
    );
  height: 100%;
}

@media screen and (max-width: 899px) {
  .container {
    background: white;
  }
}