.footer {
    height: var(--footer-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    border-top: 1px solid rgb(var(--footer-border));
    gap: 9px;
}
.iconsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}