.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menuIcon {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
    padding: 4px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}