.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* .icon:hover {
    background-color: black;
    opacity: 0.1;
} */