:root {
  --header-height: 72px;
  --footer-height: 105px;

  --background-rgb: 255, 255, 255;
  /* black2 */
  --mainText-rgb: 28, 34, 39, 1;
  --backgroundDrawer-rgb: 214, 219, 220;
  --cardBackground-rgb: 255, 255, 255, 0.05;
  --cardBorder-rgb: 255, 255, 255, 0.11;
  --footer-border: 204, 255, 51, 0.1;
  /* main green */
  --foreground-rgb: 28, 34, 39, 1; 
  --mainGreen-rgb: 204, 255, 51; 
  
  --mainGrey-rgb: 239, 241, 244, 1;
  --greyText-rgb: 28, 34, 39, 0.43;
  
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 10, 10, 10; 
    --mainText-rgb: 255, 255, 255;
    
    --backgroundDrawer-rgb: 214, 219, 220;
    --cardBackground-rgb: 255, 255, 255, 0.05;
    --cardBorder-rgb: 255, 255, 255, 0.11;
    --footer-border: 204, 255, 51, 0.1;
    /* main green */
    --foreground-rgb: 204, 255, 51; 
  }
}

* {
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  color: rgb(var(--mainText-rgb));
  /* background: rgb(var(--background-rgb)); */
  background-image: url('../../public/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 3rem 0;
  width: 100%;
  min-height: calc(100vh - var(--header-height));
}

.coloredTitle {
  color: rgb(var(--mainGreen-rgb)) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media screen and (max-width: 899px) {
  h1 {
    font-size: 30px !important;
  }
  
}
