.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 100px 0;
  width: 100%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}